<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/modernize/css/modernize.css">
    <title>Modernize</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <img src="/modernize/img/logo.png" alt="logo">
            <p>Call us: (66)8 234 678</p>
        </div>
        <div id="maincontent">
            <div id="navbar">
                <p>
                    <a href="">Home</a>
                </p>
                <p>|</p>
                <p>
                    <a href="">Blog»</a>
                </p>
                <p>|</p>
                <p>
                    <a href="">Portfolio»</a>
                </p>
                <p>|</p>
                <p>
                    <a href="">Shortcodes»</a>
                </p>
                <p>|</p>
                <p>
                    <a href="">Features»</a>
                </p>
                <p>|</p>
                <p>
                    <a href="">Contact</a>
                </p>
                <p>
                    <span>|</span>
                </p>
            </div>
            <img src="/modernize/img/main_pic.png" alt="main pic">
            <div id="maincontenttext">
                <div id="maincontentstuff">
                    <div id="box">
                        <img src="/modernize/img/content_icon1.png" alt="icon1">
                        <div id="text">
                            <h1>Ridiculus Oranre</h1>
                            <p>Anean eu leo quam. Pellen tesque sem lacinia qua veneatis vestibulum.</p>
                        </div>
                    </div>
                    <div id="box">
                        <img src="/modernize/img/content_icon2.png" alt="icon2">
                        <div id="text">
                            <h1>Ipsum Purus</h1>
                            <p>Integer posuere erat a ante ven enatlis daplbus posuere velt allquet aenea.</p>
                        </div>
                    </div>
                    <div id="box">
                        <img src="/modernize/img/content_icon3.png" alt="icon3">
                        <div id="text">
                            <h1>Tellus Quam</h1>
                            <p>Aenean eu leo quam. Pellen tesque ornare sem lacinia quam veneatis.</p>
                        </div>
                    </div>
                    <div id="box">
                        <img src="/modernize/img/content_icon3.png" alt="icon3">
                        <div id="text">
                            <h1>Sem Egestas</h1>
                            <p>Aenean eu leo quam. Pellen tesque ornare sem lacina quam venatis.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--maincontent-->
        <div id="adbox">
            <div id="adtext">
                <h1>Bibendum Fusce Vehicula Ullamcorper Fermentum</h1>
                <p>Rabble rabble rabble rabble rabble. Rabble rabble? Rabble rabble rabble! Rabble rabble, rabble.</p>
            </div>
            <div id="buynow">
                <a href="">Buy Now</a>
            </div>
        </div>
        <!--adbox-->
        <div id="portfolio">
            <h1>Portfolio</h1>
            <a href="" id="viewallprojects">View All Projects →</a>
            <div id="portfoliocontent">
                <div id="portfolioitems">
                    <img src="/modernize/img/portfolio1.png" alt="portfolio1">
                    <h1>Built-in Shortcode</h1>
                    <p>You can easily use shortcode via Icons in text editor. Easy! Gibberish rabble rabble rabble rabble rabble.
                        Rabble rabble rabble.</p>
                </div>
                <div id="portfolioitems">
                    <img src="/modernize/img/portfolio2.png" alt="portfolio2">
                    <h1>New Page Builder</h1>
                    <p>Our page builder is the most flexible tool to create page. We provide much much options for each Items,
                        moreover, you can easily manage items via dr.</p>
                </div>
                <div id="portfolioitems">
                    <img src="/modernize/img/portfolio3.png" alt="portfolio3">
                    <h1>Access Elements Color</h1>
                    <p>You can easily access almost every elements color easily via admin panel. Now creating unique website
                        is not a big deal anymore! Latin gibberish.</p>
                </div>
                <div id="portfolioitems">
                    <img src="/modernize/img/portfolio4.png" alt="portfolio4">
                    <h1>3 Custom Post Types</h1>
                    <p>We provide 3 custom post types for most flexibility of usage. We have portfolio post type which also
                        has its own single page style. Testimonial, you can</p>
                </div>
            </div>
            <a href="" id="backtotop">Back To Top</a>
        </div>
        <!--portfolio-->
    </div>
    <!--container-->
</body>

</html>