<!DOCTYPE html>
<html>
<head>
	<title>Noam Chomsky</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Bootstrap && font-awesome CSS -->
    <link rel="stylesheet" type="text/css"  href="/nc/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/nc/fonts/font-awesome/css/font-awesome.css">
    <!-- Open Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="/nc/css/main.css">

</head>
<body>
	<div class="container-fluid" id="wrapper">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nc-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/nc">
	      	<img id="brand-icon" alt="nc-icon" src="/nc/img/nc-icon.png">
	      </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="nc-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!-- <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li> -->
	        <li><a href="/nc/about">About</a></li>
	        <li><a href="/nc/news">News</a></li>
	        <li><a href="/nc/faq">FAQ</a></li>
	        <li><a href="/nc/contact">Contact</a></li>
	        <li><a href="https://twitter.com/chomskydotinfo?lang=en"><i class="fa fa-twitter"></i></a></li>
	      </ul>
	      <form class="navbar-form navbar-right">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav><!-- /.navbar-default -->

		<div class="intro container-fluid">
			<div class="row">
				<div class="hidden-xs col-sm-4 sidebar">
					<div class="row">
						<div class="contact-img"></div>
					</div>
				</div>
				<div class="col-sm-8 contact-content">
				<p class="hidden-sm hidden-md hidden-lg" id="mobile-messages">Contact Me</p>
					<div class="contact-form-block">
						<div class="row">
							<p>Your Name:</p>
				            <hr/>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_fname">*First name</label>
				                    <input id="form_fname" type="text" name="fname" class="form-control" placeholder="Required">
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_lname">*Last name</label>
				                    <input id="form_lname" type="text" name="lname" class="form-control" placeholder="Required">
				                </div>
				            </div>
				        </div>
			    	</div>

			    	<div class="contact-form-block">
						<div class="row">
							<p>Contact Info:</p>
							<hr />
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_adress">*Street Address</label>
				                    <input id="form_address" type="text" name="address" class="form-control" placeholder="Required">
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_address2">Street Address (2)</label>
				                    <input id="form_address2" type="text" name="address 2" class="form-control">
				                </div>
				            </div>
				        </div>

				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_city">*City</label>
				                    <input id="form_email" type="city" name="city" class="form-control" placeholder="Required">
				                </div>
				            </div>
				            <div class="col-md-3">
				                <div class="form-group">
				                    <label for="form_state">*State</label>
				                    <select class="form-control" id="form_state" name="state">
				                    	<option value="">--</option>
				                    	<option value="AL">AL</option>
				                    	<option value="AK">AK</option>
				                    	<option value="AR">AR</option>
				                    	<option value="AZ">AZ</option>
				                    	<option value="CA">CA</option>
				                    	<option value="CO">CO</option>
				                    	<option value="CT">CT</option>
				                    	<option value="DC">DC</option>
				                    	<option value="DE">DE</option>
				                    	<option value="FL">FL</option>
				                    	<option value="GA">GA</option>
				                    	<option value="HI">HI</option>
				                    	<option value="ID">ID</option>
				                    	<option value="IL">IL</option>
				                    	<option value="IN">IN</option>
				                    	<option value="IA">IA</option>
				                    	<option value="KS">KS</option>
				                    	<option value="KY">KY</option>
				                    	<option value="LA">LA</option>
				                    	<option value="ME">ME</option>
				                    	<option value="MD">MD</option>
				                    	<option value="MA">MA</option>
				                    	<option value="MI">MI</option>
				                    	<option value="MN">MN</option>
				                    	<option value="MS">MS</option>
				                    	<option value="MO">MO</option>
				                    	<option value="MT">MT</option>
				                    	<option value="NE">NE</option>
				                    	<option value="NV">NV</option>
				                    	<option value="NH">NH</option>
				                    	<option value="NJ">NJ</option>
				                    	<option value="NM">NM</option>
				                    	<option value="NY">NY</option>
				                    	<option value="NC">NC</option>
				                    	<option value="ND">ND</option>
				                    	<option value="OH">OH</option>
				                    	<option value="OK">OK</option>
				                    	<option value="OR">OR</option>
				                    	<option value="PA">PA</option>
				                    	<option value="RI">RI</option>
				                    	<option value="SC">SC</option>
				                    	<option value="SD">SD</option>
				                    	<option value="TN">TN</option>
				                    	<option value="TX">TX</option>
				                    	<option value="UT">UT</option>
				                    	<option value="VT">VT</option>
				                    	<option value="VA">VA</option>
				                    	<option value="WA">WA</option>
				                    	<option value="WV">WV</option>
				                    	<option value="WI">WI</option>
				                    	<option value="WY">WY</option>
				                    </select>
				                </div>
				            </div>
				            <div class="col-md-3">
				                <div class="form-group">
				                    <label for="form_zip">*Zip</label>
				                    <input id="form_zip" type="zip" name="zip" class="form-control" placeholder="Required">
				                </div>
				            </div>
				        </div>

				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_email">*Email</label>
				                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Required">
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="form_phone">Phone</label>
				                    <input id="form_phone" type="tel" name="phone" class="form-control">
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="contact-form-block">
				        <div class="row">
				        	<p>Your Message:</p>
				        	<hr />
				            <div class="col-md-12">
				                <div class="form-group">
				                    <label for="form_message">*Message</label>
				                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me" rows="4"></textarea>
				                </div>
				            </div>
				            <div class="col-md-12">
				                <input type="submit" class="btn btn-success btn-send" value="Send message">
				            </div>
			        	</div>
			        </div>
				</div><!-- .contact-content -->
			
			</div>
		</div>

		<div class="office-location">
			<div class="row">
				<div class="container">
					<div class="col-sm-6 col-md-6">
						<h3 class="text-center">Boston Office</h3>
						<p class="text-center">2400 JFK Federal Building</p>
						<p class="text-center">15 New Sudbury Street</p>
						<p class="text-center">Boston, MA 02203</p>
						<p class="text-center">Phone: (617) 656-3170</p>
					</div>
					<div class="col-sm-6 col-md-6">
						<div id="map" class="hidden-xs"></div>
					</div>
				</div>
			</div>
		</div>

	<footer class="footer">
		 <ul class="list-unstyled footernav list-inline">
	        <li><a href="/nc/about">About</a></li>
	        <li><a href="/nc/news">News</a></li>
	        <li><a href="/nc/faq">FAQ</a></li>
	        <li><a href="/nc/contact">Contact</a></li>
	        <li><a href="https://twitter.com/chomskydotinfo?lang=en"><i class="fa fa-twitter"></i></a></li>
	      </ul>
	</footer><!-- .footer -->

	</div><!-- #wrapper -->

    <!--jQuery script-->
    <script type="text/javascript" src="/nc/js/jquery.1.11.1.js"></script>
    <!-- Bootstrap script -->
    <script type="text/javascript" src="/nc/js/bootstrap.js"></script>
    <script type="text/javascript" src="/nc/js/main.js"></script>
    <script type="text/javascript" src="/nc/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1aCuCJxJHQe-44aIq0HH8lzJ6TBviRo&callback=generateMap"></script>
</body>
</html>