<!DOCTYPE html>
<html>
<head>
	<title>Noam Chomsky</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Bootstrap && font-awesome CSS -->
    <link rel="stylesheet" type="text/css"  href="/nc/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/nc/fonts/font-awesome/css/font-awesome.css">
    <!-- Open Sans Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="/nc/css/main.css">

</head>
<body>
	<div class="container-fluid" id="wrapper">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nc-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/nc">
	      	<img id="brand-icon" alt="nc-icon" src="/nc/img/nc-icon.png">
	      </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="nc-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!-- <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li> -->
	        <li><a href="/nc/about">About</a></li>
	        <li><a href="/nc/news">News</a></li>
	        <li><a href="/nc/faq">FAQ</a></li>
	        <li><a href="/nc/contact">Contact</a></li>
	        <li><a href="https://twitter.com/chomskydotinfo?lang=en"><i class="fa fa-twitter"></i></a></li>
	      </ul>
	      <form class="navbar-form navbar-right">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav><!-- /.navbar-default -->

	<div class="intro container-fluid">
		<div class="row">
			<div class="banner-picture">
			</div>
		</div>
		<div class="row">
			<div class="hidden-xs col-sm-4 sidebar">
				<div class="row">
					<div class="news-img"></div>
				</div>
			</div>
			<div class="col-sm-8 news-content">
				<p class="hidden-sm hidden-md hidden-lg" id="mobile-messages">News Feed</p>
				<script src="http://rss.bloople.net/?url=https%3A%2F%2Fchomsky.info%2Ffeed%2F&showtitle=false&showempty=true&type=js"></script>
			</div>
		</div>
	</div>
	
	<footer class="footer">
		 <ul class="list-unstyled footernav list-inline">
	        <li><a href="/nc/about">About</a></li>
	        <li><a href="/nc/news">News</a></li>
	        <li><a href="/nc/faq">FAQ</a></li>
	        <li><a href="/nc/contact">Contact</a></li>
	        <li><a href="https://twitter.com/chomskydotinfo?lang=en"><i class="fa fa-twitter"></i></a></li>
	      </ul>
	</footer><!-- .footer -->

	</div><!-- #wrapper -->

    <!--jQuery script-->
    <script type="text/javascript" src="/nc/js/jquery.1.11.1.js"></script>
    <!-- Bootstrap script -->
    <script type="text/javascript" src="/nc/js/bootstrap.js"></script>
    <script type="text/javascript" src="/nc/js/main.js"></script>
</body>
</html>